<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">

        <!-- GH PAGES -->
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h1>GitHub Pages</h1>
                    <div>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                    </div>
                </div>
                <h3>JavaScript, React, Next.js, Tailwind CSS</h3>
                <p>A mock ecommerce web application for buying, selling, and trading video games. Built with SvelteKit and TypeScript with a MySQL database containerized in Docker.</p>
            </div>
            <div class="card-analytics">
                <div class="lang" style="width: 97%; background-color: rgb(154, 155, 78);"><p>JavaScript</p></div>
                <div class="lang" style="width: 10%; background-color: rgb(68, 67, 129);"><p>CSS</p></div>
            </div>
        </div>

        <!-- GAMESWAP  -->
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h1>GameSwap</h1>
                    <div>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                    </div>
                </div>
                <h3>TypeScript, SvelteKit, MySQL, Docker</h3>
                <p>A mock ecommerce web application for buying, selling, and trading video games. Built with SvelteKit and TypeScript with a MySQL database containerized in Docker.</p>
            </div>
            <div class="card-analytics">
                <div class="lang" style="width: 52%; background-color: rgb(0, 113, 179);"><p>TypeScript</p></div>
                <div class="lang" style="width: 46%; background-color: orangered;"><p>Svelte</p></div>
                <div class="lang" style="width: 10%; background-color: rgb(151, 151, 151);"><p>Other</p></div>
            </div>
        </div>


        <!-- 449  -->
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h1>CPSC 449</h1>
                    <div>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                    </div>
                </div>
                <h3>TypeScript, SvelteKit, MySQL, Docker</h3>
                <p>A bunch of functional and logical programming bs in one repo. Prolog sucks!</p>
            </div>
            <div class="card-analytics">
                <div class="lang" style="width: 58%; background-color: rgb(77, 24, 33);"><p>Prolog</p></div>
                <div class="lang" style="width: 42%; background-color: rgb(97, 102, 150);"><p>Haskell</p></div>
            </div>
        </div>         


        <!-- 359  -->
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <h1>CPSC 359</h1>
                    <div>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                        <i class="fa-brands fa-js fa-3x"></i>
                        <i class="fa-brands fa-react fa-3x"></i>
                    </div>
                </div>
                <h3>TypeScript, SvelteKit, MySQL, Docker</h3>
                <p>Some fun embedded programming stuff that was run on a Raspberry Pi 4b</p>
            </div>
            <div class="card-analytics">
                <div class="lang" style="width: 50%; background-color: rgb(71, 71, 71);"><p>C</p></div>
                <div class="lang" style="width: 28%; background-color: rgb(42, 97, 42);"><p>Makefile</p></div>
                <div class="lang" style="width: 12%; background-color: rgb(100, 57, 22);"><p>A64-ASM</p></div>
                <div class="lang" style="width: 10%; background-color: rgb(21, 137, 184);"><p>Python</p></div>
            </div>
        </div>   


        <!-- Watches -->
        <!-- A clock -->
        <div class="watch-card">
            <div 
                class="image"
                style="background-color: rgb(185, 180, 215); height: 100%;  aspect-ratio: 1/1;"
            >
                
            </div>
            <div class="card-content">
                <h1>The Watch</h1>
                <p>Hello ladies and gentlemen, we're here with someing... really special we think you're gonna love it.
                    Our new Trump watches; wear it proudly on your wrissst.
                </p>
            </div>
        </div>
        <img alt="Top Langs" src="https://github-readme-stats.vercel.app/api/top-langs/?username=NDMcCa&amp;hide_progress=false&amp;theme=dark&amp;layout=compact">
    </div>
</html>