.binclock{
    display: flex;   
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    margin: 1rem;
    padding: 5px;
}

.binclock > div{
    display: flex; 
    flex-direction: column-reverse;
    align-items: baseline;
    max-width: 45px;
}

.indicator{
    margin: 5px;
    background-color: darkgrey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}