
/* Project Listing Cards */
.card {
    flex: 0 0 auto;  
    display: flex;     
    flex-direction: row;
    color: #ffffff;
    background-color: #1e2c41;
    margin: 25px;
    width: 90%;
    height: 100px;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 15px;
    align-items: flex-start;
}

.card--content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.card--content > h2{
    font-size: 1.8rem;
}

.card--button--container {
    display: flex;
    align-self: flex-end;
    width: 100px;
    height: 100%;
}

.card--button {
    height: inherit;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: #1a2029 ;
    color: #ffffff;
    transition: background-color 0.3s;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding-top: 25%;
}

.card--button:hover {
    background-color: #00D8FF;
}


/* Watch Cards */
.w_card{
    height: auto;
    box-shadow: none;
    overflow: none;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 350px;
    border-radius: 15px;
}

.w_card--button {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: #1a2029 ;
    border: transparent;
    color: #ffffff;
    transition: background-color 0.3s;
    text-decoration: none;   
    cursor: pointer;
}

.w_card--button:hover {
    background-color: #00D8FF;
}

