/* Navbar and Menu */

.navbar {
    font-family: "Lato", sans-serif;
    background-color: #04050e;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    z-index: 2;
  }
  
  .navbar--button {
    font-family: "Lato", sans-serif;
    flex: 0 0 auto;  
    height: fit-content;
    float: left;  
    padding: 1rem;;
    color: #f2f2f2;
    text-align: center;     
    text-decoration: none;
    background-color: #04050e;
    border-style: hidden;
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .navbar--button:hover {
    background-color: #757a94;
    color: #000000;
  } 
  
  .navbar--title {
    font-family: "Lato", sans-serif;
    flex: 0 0 auto;  
    height: fit-content;
    float: left;  
    padding: 1rem;
    color: #00D8FF;
    text-align: center;     
    text-decoration: none;
    background-color: transparent;
    border-style: hidden;
    font-size: 20px;
    font-weight: 700;
  }
  
  .navbar--clock {
    font-family: "Lato", sans-serif;
    flex: 0 0 auto;  
    height: fit-content;
    margin-left: auto;
    padding: 1rem;
    color: #00D8FF;
    text-align: center;     
    text-decoration: none;
    background-color: transparent;
    border-style: hidden;
    font-size: 20px;
    font-weight: 700;
  }
  
  .dropdown {
    flex: 0 0 auto;  
    display: block;
    float: left;
    position: relative;
    top: 0%;
    height: fit-content;
    width: 180px; 
  }
  
  .dropdown-menu {
    display: none;
    flex-direction: row;
    position: relative;
    margin-top: 53px;
    height: 135px;
    width: 180px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .dropdown-menu--button {
    display: inherit;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    text-decoration: none;
    height: fit-content;
    width: 170px;
    padding: 10px 10px;
  }
  
  .dropdown-menu--button:hover {
    background-color: #757a94;
  }
  
  #menu-button {
    position: relative;
    top: 0;
  }
  
  /* .search {
    float: inline-end;
    display: block;
    color: #bbbbbb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  